@tailwind base;
@tailwind components;
@tailwind utilities;



//Fonts
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body,#app{
    //Size
    display: flex;


    height: 100%;
    //Font
    font-family: 'Quicksand', sans-serif;
    //font-optical-sizing: auto;
    font-weight: 500;
    //Colors
    @apply bg-zinc-100 text-zinc-900 flex-col dark:bg-zinc-950 dark:text-zinc-100;
    .dark{
      @apply bg-zinc-950 text-zinc-100
    }
}
